/* handle variable font*/

@font-face {
  font-family: "Octave";
  font-weight: 100 900;
  src: url("./FAIRE-Octave-VariableFAIRE-Octave-Variable.woff2") format("woff2-variations");
  font-display: swap;
}
