/* handle variable font*/

@font-face {
  font-family: "Sprig";
  font-weight: 100 900;
  src: url("./FAIRE-Sprig-VariableFAIRE-Sprig-Variable.woff2") format("woff2-variations");
  font-display: swap;
}
